.app {
  max-width: 400px;
  margin: 6px auto;
  font-family: sans-serif;
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-top: 10px;
  background: #f3f3f3;
  cursor: pointer;
}

li.done span {
  text-decoration: line-through;
  opacity: 0.6;
}
